/* ------------------ CSS code for Esteban Quiñones ------------------ */

/* ----- Hero ----- */

#hero-carrito {
    background-image: url(../imgs/about/banner.png);
    width: 100%;
    height: 40vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 1.4rem;
    color: #fff;
}

#hero-carrito h1 {
    font-size: 6rem;
}

#hero-carrito p {
    font-size: 2rem;
}