/* ------------------ CSS code for Esteban Quiñones ------------------ */

/* ----- Globales ----- */
html {
    box-sizing: border-box;
    font-size: 62.5%; /* 1rem = 10px */
}

*, 
*:before, 
*:after {
    box-sizing: inherit;
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 16px; /* 1rem = 10px */
    margin: 0;
    padding: 0;
    color: var(--terciario);
}

h1 {
    font-size: 4.5rem;
}

h2 {
    font-size: 3.5rem;
}

h3 {
    font-size: 2.5rem;
}

h4 {
    font-size: 2rem;
}

p {
    font-size: 1.5rem
}

/* Variables */
:root {
    --primario: hsl(265, 61%, 69%);
    --secundario: hsl(0, 0%, 90%);
    --terciario: #383838;
    --bgheader: #e3e6f3;
}

/* ----- Header ----- */

header {
    background-color: var(--bgheader);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10rem 0 8rem;
    box-shadow: 0 5px 30px hsl(0, 0%, 75%);
    height: 100px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar li {
    list-style: none;
    padding: 0 3rem;
    position: relative;
}

.navbar a, svg {
    text-decoration: none;
    font-size: 2rem;
    font-weight: 500;
    color: var(--terciario);
    transition: 0.4s ease;
}

.navbar a:hover,
svg:hover,
a.active {
    color: var(--primario);
}

.navbar li a.active::after,
.navbar li a:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background-color: var(--primario);
    position: absolute;
    bottom: -4px;
    left: 32px;
}

svg {
    margin-top: 0.5rem;
}

/* ----- Hero ----- */

h2,
h4 {
    margin: 0 0 2rem 0;
}

h2 {
    font-size: 6rem;
}

h4 {
    font-size: 4rem;
}
.hero-text h4 {
    color: var(--primario);
}

.hero-text p {
    font-size: 2.3rem;
}

.hero {
    background-image: url(/imgs/hero4.png);
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
    padding: 0 8rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.hero-text {
    max-width: 60%;
}

.hero-text button {
    margin-top: 1.5rem;
    padding: 2rem;
    border: none;
    border-radius: 1rem;
    font-size: 3rem;
    background: linear-gradient(45deg, #c093ff 0%, #dbc1ff 100%);
    cursor: pointer;
    transition: 0.3s ease;
}

.hero-text button:hover {
    box-shadow: 0 0 20px hsl(0, 0%, 80%);
}